{% extends "HRM/employee.html" %}

<!------------------------------------ new_employee -------------------------------------------------->
{% block new_employee %}

{% if function == "HR_create" %}
<!----- 人事管理帳號新增 ------>
<div>HR帳號新增和修改</div>
<div> 如果 已經申請過 資料庫不會重複紀錄帳號 可以更改密碼 </div>         
<form action="{% url 'HRM:HR_create' %}" method="post">
    {% csrf_token %}
    <label for="hr_id">帳號</label>
    <input type="text" name="hr_id" class="hr_id">
    <label for="password">密碼</label>
    <input type="text" name="password" class="password">
    <button type="submit">新增</button>
</form>
<!----- 員工基本資料 ----->
{% elif function == "base" %}
<div>基本資料</div>

<div>必須要先新增員工</div>

<label for="mode">選擇查詢方式</label>
<select name="mode" id="mode">
    <option value="name">員工姓名</option>
    <option value="id">員工id</option>
</select>
<button type="submit" id="baseQuery">查詢</button>

<form action="{% url 'HRM:search_employee_from_base2'%}" method="post" class="mt-5 query2">
    {%csrf_token%}
</form>

{% if result == "no" %}
    <p>查無此人</p>
{% endif %}

{% else %}     
<!----- 員工新增(入職) ------>
<div>員工入職表單</div>

<span> 
    <p class="text-center">說明</p>
    <p>1. 員工編號: 由系統產生</p>
    <p>2. 部門:</p>
        <table class="table table_department">
            <tr>
                <th>代號</th>
                <th>名稱</th>
            </tr>
        {% for k,v in departments.items %}
            <tr>
                <td>{{ k }}</td>
                <td>{{ v }}</td>
            </tr>            
        {% endfor %}
        </table>
    
    <p>3. 位階:</p>
        <table class="table table_rank">
            <tr>
                <th>代號</th>
                <th>名稱</th>
            </tr>
        {% for k,v in level.items %}
            <tr>
                <td>{{ k }}</td>
                <td>{{ v }}</td>
            </tr>            
        {% endfor %}
        </table>
</span>
<form action="{% url 'HRM:new_employee' %}" method="post">
    {% csrf_token %}
    <label for="staff_id" class="">員工編號</label>
    <input type="text" name="staff_id" class="">
    <label for="name" class="">姓名</label>
    <input type="text" name="name" class="">
    <label for="en_name" class="">英文名</label>
    <input type="text" name="en_name" class="">
    <label for="departments" class="">部門</label>
    <select name="departments" class="">
        {% for k,v in departments.items %}
            <option value="{{ k }}">{{ v }}</option>
        {% endfor %}
    </select>
    <label for="level" class="">位階</label>
    <select name="level" class="">
        {% for k,v in level.items %}
            <option value="{{ k }}">{{ v }}</option>
        {% endfor %}
    </select>

    <input type="submit" value="新增">
</form>

{% endif %}

{% endblock new_employee %}

<!------------------------------------ search_employee -------------------------------------------------->
{% block search_employee %}
<div>員工查詢</div>

<label for="mode">選擇查詢方式</label>
<select name="mode" id="mode">
    <option value="name">員工姓名</option>
    <option value="id">員工id</option>
</select>
<button type="submit" id="baseQuery">查詢</button>

<form action="{% url 'HRM:search_employee_2' %}" method="post" class="mt-5 query2">
    {% csrf_token %}
</form>

    <table class="table">   <!--result table -->
        <tr>
            <th>員工編號</th>
            <th>姓名</th>
            <th>英文名</th>
            <th>部門</th>
            <th>職階</th>
            <th>現職狀態</th>
        </tr>

        {% if result == "no" %}
        <tr><td>查無結果<td><tr>
        {% elif result %}
        <tr>
            <td>{{result.staff_id}}</td>
            <td>{{result.name}}</td>
            <td>{{result.en_name}}</td>
            <td>{{result.departments}}</td>
            <td>{{result.level}}</td>
            {% if result.on_the_job %}
                <td>在職</td>
            {% else %}
                <td>離職</td>
            {%endif%}
        </tr>    
        {% endif %}
    </table>
    
{% endblock search_employee %}

<!------------------------------------ staff -------------------------------------------------->
{% block staff %}
    {% if function == "balance" %}
        <div>員工餘額管理</div>
    {% elif function == "order_requirement" %}
        <div>員工訂餐管理</div>
    {% else %}
        <div>在職員工</div>

        <span>請點選左側選單功能 : </span>
        <span>員工餘額管理、員工訂餐管理</span>
    {% endif %}
{% endblock staff %}

<!------------------------------------ resign -------------------------------------------------->
{% block resign %}
<div>員工離職</div>

{% endblock resign %}
