<!DOCTYPE html>
{% load django_bootstrap5 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>員工管理中心</title>
    {%bootstrap_css%}{%bootstrap_javascript%}

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/HRM.css' %}">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <header class="col-2 list">
                <div class="logo">xx科技</div>
                <div class="title"><a href="{% url 'HRM:employee' %}">員工管理中心</a></div>
                <ul>
                    <li><a href="{% url 'HRM:new_employee' %}">員工新增(入職)</a></li>
                    <ul>
                        <li><a href="{% url 'HRM:HR_create' %}">人事管理系統帳號新增</a></li>
                    </ul>
                    <li><a href="{% url 'HRM:search_employee' %}">員工查詢</a></li>
                    <li><a href="{% url 'HRM:staff' %}">在職員工</a></li>
                    <ul>
                        <li><a href="{% url 'HRM:base' %}">員工基本資料</a></li>
                        <li><a href="{% url 'HRM:balance' %}">員工餘額管理</a></li>
                        <li><a href="{% url 'HRM:order_requirement' %}">訂餐需求管理</a></li>
                    </ul>
                    <li><a href="{% url 'HRM:resign' %}">員工離職</a></li>

                    <li><a href="{% url 'HRM:login' %}">登出</a></li>
                </ul>
            </header>
            <main class="col main">
                <div class="container-fluid">
                    {% if view == "new_employee" %}
                        {% block new_employee %}{% endblock new_employee %}                
                    {% elif view == "search_employee" %}
                        {% block search_employee %}{% endblock search_employee %}
                    {% elif view == "staff" %}
                        {% block staff %}{% endblock staff %}
                    {% elif view == "resign" %}
                        {% block resign %}{% endblock resign %}
                    {% else %}
                        
                        <div class="row">
                            主板
                        </div>
                    
                    {% endif %}
                </div>
            </main>        
        </div>
    </div>    
      
</body>
</html>