<!DOCTYPE html>
{% load django_bootstrap5 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>員工管理系統登入</title>

    {% bootstrap_css %} {% bootstrap_javascript%}

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="login">
        <header class="container title">
            <div class="row align-content-center">
                <div class="col text-center">
                    員工管理系統
                </div>
            </div>
        </header>

        <form action="{% url 'HRM:login' %}" class="container mt-3" method="post">
            {% csrf_token %}
            
            <div class="row justify-content-center">
                <div class="col text-center">
                    <label for="hr_id" class="form-label">帳號</label>
                    <input type="text" name="hr_id" class="form-control" placeholder="請輸入帳號">
                </div>
            </div>
            <div class="row justify-content-center mt-3">
                <div class="col text-center">
                    <label for="password" class="form-label">密碼</label>
                    <input type="text" name="password" class="form-control" placeholder="請輸入密碼">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col text-center">
                    <button class="btn btn-success" type="submit">登入</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>