
.login{
    position: absolute;
    top:40%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.title{
    background-color: none;
    font-size: 48px; 
}

.form-control{
    width:400px;
    margin-left: auto;
    margin-right: auto;
}