<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>後台管理系統</title>
</head>
<body>
    <div>CMS INDEX <span><a href="{% url 'CMS:logout' %}">登出</a></span></div>
    
    <div>原料管理</div>
    <ul>
        <li><a href="{% url 'CMS:material_supplier' %}">原料商</a></li>
        <li><a href="{% url 'CMS:raw_material' %}">原料</a></li>
    </ul>
    
    <div>成品 & 半成品管理</div>
    <ul>
        <li><a href="">半成品</a></li>
        <li><a href="">成品</a></li>
    </ul>
    
    <a href="{% url 'CMS:order' %}">訂單管理</a>
    
    
    <a href="{% url 'CMS:inventory' %}">庫存管理</a>
</body>
</html>