<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>後台管理系統</title>
</head>
<body>
    CMS INDEX
    <a href="{% url 'CMS:logout' %}">登出</a>

    <a href="{% url 'CMS:material_supply' %}">原料供應商管理</a>
    <a href="{% url 'CMS:order' %}">訂單管理</a>
    <a href="{% url 'CMS:inventory' %}">庫存管理</a>
    <a href="{% url 'CMS:HR' %}">人事管理</a>
    <a href="{% url 'CMS:food_supply' %}">餐點供應商管理</a>

</body>
</html>