<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>庫存管理</title>
</head>
<body>
    <div>成品 & 半成品管理</div>

    <ul>
        <li>成品和半成品 品項新增</li>
        <li>入庫</li>
        <li>出庫</li>
    </ul>
    <hr>
    
    <div>品項新增 {% if create == "success" %} 新增成功 {% endif %}</div>
    
    <form action="{% url 'CMS:new_product' %}" method="post">
        {% csrf_token %}
        <label for="product_id">產品編號 : </label>
        <input type="text" name="product_id">
        <label for="name">產品名稱 : </label>
        <input type="text" name="name">
        <label for="category">產品類別 : </label>
        <input type="text" name="category">
        
        <label for="stage">目前階段 : </label>
        <select name="stage" id="stage">
            <option value="SFG">半成品</option> 
            <option value="FGI">成品</option>
        </select>
        <button>新增</button>
    </form>
    
    <label for="product_search">產品查詢 : </label>
    <select name="product_search" id="product_search">
        <option value="id">產品編號</option>
        <option value="name">產品名稱</option>
        <option value="category">產品類別</option>
        <option value="stage">產品階段</option>
    </select>

    <div>產品查詢結果 : </div>
    <table>
        <tr>
            <th>產品編號</th>
            <th>產品名稱</th>
            <th>產品類別</th>
            <th>產品階段</th>
        </tr>
        {% for product in db_product %}
            <tr>
                <td>{{product.product_id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.category}}</td>
                {% if product.stage == "SFG" %}
                <td>半成品</td>
                {% elif product.stage == "FGI" %}
                <td>成品</td>
                {% endif %}
                
            </tr>
        {% endfor %}
        
    </table>

    <hr>
    <div>入庫/出庫</div>

    <form action="{% url 'CMS:new_inventory' %}" method="post">
        {% csrf_token %}
        <label for="product_id">產品選擇 :</label>
        <select name="product_id" id="product_id">
            {% for product in db_product %}
                <option value="{{product.product_id}}">{{product.name}}</option>
            {% endfor %}
        </select>

        <label for="operation">選擇方式 :</label>
        <select name="operation" id="operation">
            <option value="IN">入庫</option>
            <option value="OUT">出庫</option>
        </select>

        <label for="number">數量 : </label>
        <input type="number" name="number">
        <label for="unit">單位 : </label>
        <select name="unit" id="unit">
            <option value="set">組/套</option>
            <option value="piece">片/塊</option>
            <option value="tube">條</option>
            <option value="bottle">瓶</option>
            <option value="box">盒/箱</option>
            <option value="no" selected>式(沒有特別單位)</option>
        </select>
        <button >新增</button>
    </form>
    
    <div>庫存監測資料</div>

    <table>
        <tr>
            <th>產品名</th>
            <th>出/入庫</th>
            <th>數量</th>
            <th>單位</th>
            <th>時間</th>
        </tr>
        {% for inventory in db_inventory %}
        <tr>
            <td>{{inventory.product_id.name}}</td>
            {% if inventory.operation == "IN" %}
                <td>入庫</td>
            {% elif inventory.operation == "OUT" %}
                <td>出庫</td>
            {% endif %}
            <td>{{inventory.number}}</td>
            {% if inventory.unit == "set" %}
                <td>組/套</td>
            {% elif inventory.unit == "piece" %}
                <td>片/塊</td>
            {% elif inventory.unit == "tube"%}
                <td>條</td>
            {% elif inventory.unit == "bottle"%}
                <td>瓶</td>
            {% elif inventory.unit == "box"%}
                <td>盒/箱</td>
            {% elif inventory.unit == "no"%}
                <td>無</td>
            {% endif %}
            <td>{{inventory.data_time}}</td>
            <td><button><a href="">修改</a></button></td>
            <td><button><a href="">刪除</a></button></td>
        </tr>
        {% endfor %}
    </table>
    
    <hr>

</body>
</html>