<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>庫存管理</title>
</head>
<body>
    <div>成品 & 半成品管理</div>

    <ul>
        <li>成品和半成品 品項新增</li>
        <li>入庫</li>
        <li>出庫</li>
    </ul>
    <hr>
    
    <div>品項新增 {% if create == "success" %} 新增成功 {% endif %}</div>
    
    <form action="{% url 'CMS:inventory' %}" method="post">
        {% csrf_token %}
        <label for="product_id">產品編號 : </label>
        <input type="text" name="product_id">
        <label for="name">產品名稱 : </label>
        <input type="text" name="name">
        <label for="category">產品類別 : </label>
        <input type="text" name="category">
        
        <label for="stage">目前階段 : </label>
        <select name="stage" id="stage">
            <option value="SFG">半成品</option> 
            <option value="FGI">成品</option>
        </select>
        <BUtton>新增</BUtton>
    </form>
    
    <hr>
    <div>入庫</div>
    
    <hr>
    <div>出庫</div>

</body>
</html>