<!DOCTYPE html>
{% load django_bootstrap5 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    {% bootstrap_css %} {% bootstrap_javascript%}

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">

</head>
<body>
    <header class="container">
        <div class="row justify-content-center">
            <div class="col-5 text-center">
                index
            </div>
            <div class="col dropdown header-icon">
                <a href="#" class="btn" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-list">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">      
                            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                        </svg>
                    </i>
                </a>

                <ul class="dropdown-menu">
                    <li class="dropdown-item"><a href="{% url 'login' %}">登入</a></li>
                    <li class="dropdown-item"><a href="">註冊</a></li>
                    <li class="dropdown-item"><a href=""></a></li>
                </ul>
            </div>
        </div>
        
    </header>
</body>
</html>