<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new developer</title>
</head>
<body>
    <form action="{% url 'developer:createdeveloper' %}" method="post">
        {% csrf_token %}
        <label for="dev_id" class="">員工id:</label>
        <input type="text" name="dev_id" class="">
        <label for="password" class="">密碼:</label>
        <input type="password" name="password" class="">
        <label for="name" class="">員工姓名:</label>
        <input type="text" name="name" class="">
        <input type="checkbox" name="manager" value="True" class="">
        <label for="manager" class="">是否為主管</label>
        <button type="submit">註冊</button>
    </form>
</body>
</html>