<!DOCTYPE html>
{%load django_bootstrap5%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>工程師專用管理平台</title>
    
    {% bootstrap_css %} {% bootstrap_javascript%}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/developer.css' %}">
</head>
<body>
    <div class="container-fluid">
        <a href="{% url 'developer:logout' %}">登出</a>
        <div>帳號新增</div>
        <ul>
            <li><a href="{% url 'developer:createdeveloper'%}">工程師專用管理平台帳號新增</a></li>
            <li><a href="{% url 'developer:createCMS' %}">後臺管理系統帳號新增</a></li>
            <li><a href="{% url 'developer:createHRM' %}">人事管理系統帳號新增</a></li>
        </ul>
        <div>系統連結</div>
        <ul>
            <li><a href="{% url 'CMS:login' %}">後臺管理系統(CMS)</a></li>
            <li><a href="{% url 'HRM:login' %}">人事管理系統(HRM)</a></li>
        </ul>
        
    </div>
   
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                後台1
            </div>
            <div class="col">
                後台2
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                後台3
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                後台4
            </div>
        </div>
    </div>
</body>
</html>